html { 
	scroll-behavior: smooth;
	 } 

.makewhite{
	background-color: white;

}

.spaceout{
	padding-bottom: 70px;
}

.noborder{
	border:0px;
	border-color: white;
}

.job{
	height:200px;
	overflow: none;
}

.wrapper {
    display: flex;
    width: 100%;
}

#gradient {
  position: absolute;
  z-index:0;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  height: 200px;
  
}
